<h2 class="bd-title" id="content" style="font-size: 1.6rem;">Radio Button</h2>
<p class="bd-lead">Provide contextual feedback messages for typical user actions with the handful of available and
  flexible alert messages.</p>
<h3 id="examples">
  <!-- <p-dropdown [options]="primitiveOptions" [(ngModel)]="selectedPrimitive" ></p-dropdown> -->


  <!-- <span style="margin-left:50px">Brand: {{selectedPrimitive|json}}</span> -->

  <div class="bd-content-title">
    <h3 style="font-size: 1.4rem;">
      {{selectedPrimitive.label}}
      <span style="float: right;">
        <p-autoComplete [(ngModel)]="selectedPrimitive1" [suggestions]="filteredPrimitiveOptions"
          (completeMethod)="filterOptions($event)" [size]="30" [minLength]="1" placeholder="Hint: type 'v' or 'f'"
          (onSelect)="selectPrimitive()" [dropdown]="true" field="label">
        </p-autoComplete>
      </span>
    </h3>
  </div>

</h3>
<p>Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of
  the eight <strong>required</strong> contextual classes (e.g., <code class="highlighter-rouge">.alert-success</code>).
  For inline dismissal, use the <a href="#dismissing">alerts jQuery plugin</a>.</p>
<div class="row">
  <div class="col-md-8">
    <p-tabView>
      <p-tabPanel header="XML" leftIcon="pi pi-calendar">
        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title=""
            data-original-title="Copy to clipboard">Copy</button></div>
        <figure class="highlight">
          <pre>
                {{xmlString}}
             </pre>
        </figure>
      </p-tabPanel>
      <p-tabPanel header="Code" leftIcon="pi pi-inbox">
        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title=""
            data-original-title="Copy to clipboard">Copy</button></div>
        <figure class="highlight">
          <pre>
                    {{codeString}}
                </pre>
        </figure>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="col-md-4">
    <div class="bd-example" style="height: 461px;
    width: 348px;
    margin-left: auto;
    margin-right: auto;">
      <img src="https://i.stack.imgur.com/ZKiMj.jpg" alt="enter image description here" style="width: 100%;">
    </div>
  </div>
</div>