<div>
  <div class="search-container">
    <span class="algolia-autocomplete">
      <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
        aria-label="Search for..." autocomplete="off" data-docs-version="4.4" spellcheck="false" role="combobox"
        aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto">
      <pre aria-hidden="true" class="search-pre"></pre>
      <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0">
        <div class="ds-dataset-1"></div>
      </span>
    </span>
  </div>
  <ul class="nav flex-column" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/primitvie-types']">Primitive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>

    <ul class="nav flex-column" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
</div>