/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    overflow: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather';
    font-weight: 700;
  }
  